		<footer class="main-footer">
			Built by {{config.author}} using <a href="https://github.com/tnguyen14/tobiko">tobiko</a>. Copyrights ® {{getDate 'YYYY'}}.
		</footer>

		<script type="text/javascript">
			var page = {
				env: {{{json content.env}}}
			}
		</script>

		<script type="text/javascript" src="/app.js"></script>
	</body>
</html>
